.container {
    width: 376px;
    height: 409px;
    margin: auto;
    text-align: center;
    /* border: 1px solid black; */
    padding: 0 20px;
    color: white;
}

.container > img {
    width: 100%;
}

.container > h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 16px;
    color: #161616;
}

.container > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-top: 8px;
    color: #585858;
}

.container > button {
    /* margin-top: 16px; */
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: white;
    padding: 10px;
    width: 159px;
    height: 42px;
    background: #F27370;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}