.ant-table-thead .ant-table-cell {
    background-color: #F27370;
    color: white;
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .ant-table table {
    font-family: 'Roboto', sans-serif !important;
    color: #585858;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
  }

