.ant-table-thead .ant-table-cell {
    background-color: #F27370;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
  }

  .ant-input:focus {
    border-color: #22559C;
    outline: 0;
    /* -webkit-box-shadow: 0 0 0 2px rgba(87,168,233, .2);
    box-shadow: 0 0 0 2px rgba(87,168,233, .2); */
}

.table-row-light {
  background-color: yellow;
}
.table-row-dark {
  background-color: blue;
}

.ant-table-tbody {
  border: 1px solid #F27370;
}

