.view-admin-modal {
    /* width: 620px;
    height: 619px;
    background: #FAFAFA; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #161616;
}